.NavScroll::-webkit-scrollbar {
  display: none;
}

/* ------------------------------------------ */

.custom-scroll {
  overflow: auto;
}

/* Width */
.custom-scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

/* Thumb */
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgb(212, 209, 209);
  border-radius: 10px;
}

/* Hover */
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* ------------------------------------------ */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ------------------------------------------ */

.CustomVerticalBar::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

.CustomVerticalBar::-webkit-scrollbar-track {
  background: rgb(194, 188, 188); /* Track color */
  border-radius: 10px;
}

.CustomVerticalBar::-webkit-scrollbar-thumb {
  background: transparent; /* Thumb color */
  border-radius: 10px;
}

@keyframes custom-enter {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes custom-leave {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.animate-custom-enter {
  animation: custom-enter 0.3s ease-out forwards;
}

.animate-custom-leave {
  animation: custom-leave 0.2s ease-in forwards;
}

.animate-showDataSmooth {
  animation: showDataSmooth 0.8s ease-in forwards;
}

@keyframes showDataSmooth {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
