.NavScroll::-webkit-scrollbar {
  display: none;
}



.CustomVerticalBar::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

.CustomVerticalBar::-webkit-scrollbar-track {
  background: rgb(194, 188, 188); /* Track color */
  border-radius: 10px;
}

.CustomVerticalBar::-webkit-scrollbar-thumb {
  background: transparent; /* Thumb color */
  border-radius: 10px;
}

@keyframes custom-enter {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes custom-leave {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.animate-custom-enter {
  animation: custom-enter 0.3s ease-out forwards;
}

.animate-custom-leave {
  animation: custom-leave 0.2s ease-in forwards;
}

.animate-showDataSmooth {
  animation: showDataSmooth 0.8s ease-in forwards;
}

@keyframes showDataSmooth {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
